{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block title %}{{ category.title }} | {{ parent() }} {% endblock %}
{% block meta_description %}
Produits de maquillage et cosmétique pas cher pour {{ category.title }}. Découvrez nos produits {{ category.title }} à partir de 1,5 euro.
{% endblock %}
{% block content %}
    <div class="row product_show_div cat_title_div">
        <h1 class="ps_title">
            <a href="#">{{ category.title|upper }}<span>.</span></a>
        </h1>
        <hr/>
    </div>


    {% set looping = 0 %}

                <div class="row">
                    {% for product in products %}
                            {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': product} %}
                            {% set looping = looping + 1 %}
                        {% if looping is divisibleby(4) %}
                            </div><div class="row demo">
                        {% endif %}
                    {% endfor %}
                </div> <!-- end row -->

{% endblock content %}