{% trans_default_domain 'Interface' %}

<ul class="nav navbarnav hidden-md hidden-lg" role="menu">
    <li>
            <a href="#">{{ 'catalogue'|trans|upper }}</a>

    </li>

    {% if categories is not empty %}
        {% for category in categories %}
            {% if category.children is empty %}
            <li>
                    <a href="{{ path('category_page', {'id': category.id, 'slug': category.slug|default('slug') }) }}" title="{{ category.title }} - Maquillage et Cosmétique">{{ category.title|upper }}</a></li>


            {% else %}
                <li class="parent_cat" id="{{ category.id }}">
                    <a href="#">{{ category.title|upper }} <span class="caret"></span></a>

                {% for child in category.children %}
                    <li class="cat_child child_{{ category.id }} catnavstyle">

                            <a href="{{ path('category_page', {'id': category.id, 'slug': child.slug|default('slug') }) }}" title="{{ category.title }}">{{ child.title|upper }}</a></li>


                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>


