{% extends 'StoreFrontBundle:Default:layout.html.twig' %}

{% trans_default_domain 'Interface' %}

{% block title %}{{ parent() }} | {{ 'welcome'|trans|capitalize }} {% endblock %}

{% block content %}

    <!--

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p style="text-align: center;">
                <a href="http://www.makeup-cosmetics.eu/catalog/product/118/vernis-a-ongles-10ml-06-groseille" title="Promotion Vernis à Ongles">
                    <img class="img-responsive" src="{{ asset('/promo_vernis_' ~ imgloc ~ '_web.jpg') }}" alt="Promotion sur les Vernis à Ongles"/>
                </a>

            </p>
        </div>
    </div>
    <hr>
    -->

    <div class="row demo">
    <h1 class="hidden-xs hidden-sm">{{ 'welcome'|trans }}</h1>
    <h2 class="hidden-xs hidden-sm indexslogan">{{ 'welcome_slogan'|trans}}</h2>

    <section>
        <h3>{{ 'latest'|trans }}</h3>
        {% set loopin = 0 %}
        {% for last in latest %}
            {% if last.masterVariant.outOfStock is empty and loopin < 4 %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': last, 'new': true} %}
                {% set loopin = loopin +1 %}
            {% endif %}
        {% endfor %}
    </section>

    <section>

    {% set looping = 0 %}
  {% for prod in products %}
      {% if prod.masterVariant.outOfStock is empty and looping < 20 %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
          {% set looping = looping + 1 %}
      {% endif %}
            {% if looping is divisibleby(4) and looping < 20 %}
        </div><div class="row demo">
            {% endif %}
            {% endfor %}
    </section>
    </div>
{% endblock %}