{% trans_default_domain 'Interface' %}

{% if items > 1 %}
    {% set word = 'produits'|trans %}
{% elseif items == 1 %}
    {% set word = 'produit'|trans %}
{% else %}
    {% set word = 'vide'|trans %}
{% endif %}

<div class="hidden-xs">
    <a class="acchead" href="{{ path('front_cart') }}" title="{{ 'panier'|trans }}"><img src="{{ asset('assets/icons/shopping-cart32.png') }}" alt="cart icon"/> {{ 'panier'|trans }}</a></h4>
    <p><span class="badge">{{ cart.itemsTotal }}</span> {{ word }}</p>
</div>
<div class="visible-xs">
    <a href="{{ path('front_cart') }}" class="btn btn-primary"><span class="cart-item">
            <img src="{{ asset('assets/icons/shopping-cart32.png') }}" alt="cart icon"/>({{ cart.itemsTotal }})</span> <i class="fa fa-shopping-cart"></i></a>
</div>