{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% trans_default_domain 'Interface' %}

{% set titlevariant = '' %}
{% if variant.values is not empty %}
    {% set titlevariant = ' | ' %}
{% endif %}
{% for option in variant.values %}
    {% set titlevariant = titlevariant ~ option.name %}
{% endfor %}


{% block title %} {{ product.name }} {{ titlevariant }} - {{ product.name }} pas cher sur MakeUpCosmetics.eu {% endblock %}

{% block meta_description %}
{{ product.name }} à prix discount, {{ product.name }} pas cher, {{ product.name }} {{ titlevariant }} pas cher.
{% endblock %}

{% block par_class %}product_show_div{% endblock %}

{% block content %}
    {#
    <ol class="breadcrumb">
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">Teint</a></li>
        <li class="active">Fonds de teint</li>
    </ol>
    #}
<h1 class="ps_title" xmlns="http://www.w3.org/1999/html">
    <a href="#"><span itemprop="name">{{ product.name|upper }} {{ titlevariant|upper }}</span><span>.</span></a>
</h1>
<hr/>
    <div class="row">

        {% if variant.product.id == 8112345678987654323456789 %}

        <div class="col-xs-12 col-md-12">
            <p style="text-align: center;">
                <a href="http://www.makeup-cosmetics.eu/catalog/product/208/feutre-a-levres" title="Promo Feutre à Lèvres">
                    <img class="img-responsive" src="{{ asset('/gefal_promo_' ~ app.session.get('lunetics_locale') ~ '.jpg') }}" alt="Promotion Feutre à Lèvres"/>
                </a>
            </p>
        </div>
        <hr />
        {% endif %}

        <div class="col-md-5 col-xs-12 ps_img">
                <div>
                    {% if variant.images is not empty %}
                        {% for image in variant.images %}
                            {% if loop.index <= 1 %}
                                <a href="{{ asset('uploads/product_images/' ~ image.path) }}" class="fancybox" title="{{ product.name }}">
                                <img itemprop="image" class="img-responsive" src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_show_bigimg')}}" alt="{{ product.name }} {{ titlevariant }}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="{{ asset('uploads/documents/' ~ product.path) }}" class="fancybox" title="{{ product.name }}">
                            <img itemprop="image" class="img-responsive" src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('product_show_bigimg')}}" alt="{{ product.name }}{{ titlevariant }}"/>
                        </a>

                    {% endif %}
                </div>

                <div>
                    <ul class="list-inline">
                    {% for image in variant.images %}
                        <li class="ps_mini_img">
                            <a class="fancybox" rel="variant-{{ variant.id }}" href="{{ asset('uploads/product_images/' ~ image.path) }}">
                                <img class="img-responsive" src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_list_thumb')}}" alt="{{ product.name }}{{ titlevariant }}"/>
                            </a>
                        </li>

                    {% endfor %}
                        </ul>
                </div>



            </div>

        <div class="col-md-3 col-xs-12">
            <div class="ps_man_store">
                <p>
                <strong>{{ 'product_page.category'|trans|capitalize }} : </strong><span itemprop="category" content="{{ product.categories[0].title }}">{{ product.categories[0].title }}</span><br/>
                <strong>{{ 'product_page.status'|trans|capitalize }} :
                    {% if variant.outOfStock is empty %}
                        <span class="glyphicon glyphicon-ok" style="color:green;"></span> {{ 'product_page.available'|trans }}<br>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle" style="color:red;"></span> {{ 'product_page.out_of_stock'|trans }}<br>
                    {% endif %}

                <!--<strong>EAN : </strong>12345678-->
                </p>
            </div>

            {#

            <div class="ps_options">
                {% for option in product.options %}
                    <label for="form_option_{{ option.name|lower }}">{{ option.name }} :</label><br/>
                    <select class="form-control">
                        <option>
                            xx
                        </option>
                    </select>
                {% endfor %}
            </div>
            #}


                {% if product.variants.count > 1 %}

            <h4>{{ 'product_page.variant'|trans|capitalize }}</h4>

            <div>


                <select class="form-control" id="product_option_select" current-page="{{ path('product_front_show', {'id': variant.id, 'slug': variant.vslug }) }}" current-page-old="current-page="{{ path('product_front_show', {'id': variant.id, 'slug': product.slug }) }}">
                {% for variante in product.variants %}
                    {% set sl = variante.vslug %}







                        {% for options in variante.values %}
                            {% if options.option.isImageOption %}
                                {% if variante.id == variant.id %}
                                    {% set select = 'selected="selected"' %}
                                {% else %}
                                    {% set select = '' %}
                                {% endif %}

                                <option value="{{ variante.id }}" {{ select }} rel="{{ path('product_front_show', {'id': variante.id, 'slug': variante.vslug }) }}"
                                        data-imagesrc="{{ asset('/uploads/documents/vignettes/' ~ options.path ) }}"
                                        data-description="{{ options.name }}">{{ options.name }}</option>
                            {% else %}
                                <option><a href="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}" title="{{ options.name }}">
                                        {{ options.option.name }} : {{ options.name }}
                                    </a></option>
                            {% endif %}
                        {% endfor %}

                {% endfor %}
                </select>
            </div>
                    {% endif %}



            <div class="ps_price">
                <h4>{{ 'product_page.price'|trans|capitalize }} :</h4>
                <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                    <meta itemprop="currency" content="EUR" />
                <p><span itemprop="price">
                        {% if variant.isPromo is not empty %}<span class="price-striped">{{ variant.promoPrice }}&euro;</span>
                        <span class="price-promo">{{ variant.price }}&euro;</span>
                        {% else %}
                        {{ variant.price }}</span>&euro;
                        {% endif %}</p>
            </div>



            <div class="ps_add_to_cart">
                <form role="form" action="{{ path('add_item_to_cart', {'productId': variant.id }) }}" method="POST">
                    <label for="form_quantity">{{ 'product_page.quantity'|trans|capitalize }} :</label><br/>
                    <input class="form-control" id="form_quantity" name="form_quantity" type="number" value="1"/>
                    <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-shopping-cart"> {{ 'cart.shop'|trans }}</span></button>
                </form>

            </div>

            <script type="text/javascript">
                document.write('<div class="fb-like ps_fb" data-href=" '+ pathname + ' " data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>');
            </script>

    </div>
    </div>

    <div class="row ps_details">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">{{ 'product_page.description'|trans|capitalize }}</a></li>
        </ul>
    </div>
    <div class="row ps_description">
        <div class="col-md-12">
            <p><span itemprop="description">{{ product.description|markdown }}</span></p>
        </div>

    </div>
    <hr/>
    <div class="row ps_links_to_variants">
        <div class="col-md-12">
            <h6>Déclinaisons disponibles pour "{{ product.name }}"</h6>
        <ul class="list-unstyled">



            {% for v in product.variants %}
                <li>
                    <a href="{{ path('product_front_show', {'id': v.id, 'slug': v.vslug }) }}" title="{{ v.fullName }}">
                        {{ v.name }}
                    </a>
                </li>
            {% endfor %}
         </ul>

        </div>
    </div>


{% endblock content %}

{% block custom_js %}
<script type="text/javascript">
    $(document).ready(function(){
        var current = $('#product_option_select').attr('current-page');
        var current_old = $('#product_option_select').attr('current-page-old');
        $('#product_option_select').ddslick({

            onSelected: function(selectedData){
                var index = selectedData.selectedIndex;
                var relLink = selectedData.original.context[index].getAttribute('rel');
                if (relLink != current && relLink != current_old) {
                    window.location = relLink;
                }


            }
        });
        $("#product_option_select").change(function(e){
            var variant_path = $('option:selected', this).attr('rel');
            window.location = variant_path;
        });
    });
</script>
{% endblock %}