{% extends "::front.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-12 product_show_title">
            <h3>{{ product.name }}</h3>
            <p class="product_show_category">
                {% for cat in product.categories %}
                    {% if loop.index <= 1 %}
                    Categorie : | <span class="prod_cat_title">{{ cat.title }}</span> |
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row product_show_2row">
        <div class="col-md-4">
            {% if variant.images is not empty %}
            {% for image in variant.images %}
                {% if loop.index <= 1 %}
            <img src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_show_bigimg')}}" />
                    {% endif %}
                {% endfor %}
            {% else %}
                <img src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('product_show_bigimg')}}" />
            {% endif %}
        </div>

        <div class="col-md-5">
            <h4>Déscription</h4>
            {{ product.description }}

            <div>

            {% for variantx in product.variants %}
                {% for image in variantx.images %}
                <img src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_list_thumb')}}" />
                {% endfor %}
            {% endfor %}

            <h6>Variantes</h6>
                {% for variante in product.variants %}
                    {% if variante.id != variant.id %}

                        <ul>
                        {% for options in variante.values %}
                            {% if options.option.isImageOption %}
                                <a href="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}" title="{{ options.name }}">
                                    <img src="{{ asset('/uploads/documents/vignettes/' ~ options.path ) }}" alt="{{ options.name }}" />
                                </a>
                            {% else %}
                                <li>{{ options.option.name }} : {{ options.name }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% endif %}
                {% endfor %}

                </div>
            </div>

            <div class="col-md-3">
                <div class="row pricehead">
                    PRIX
                </div>
                <div class="row priceamount">
                    {{ variant.price }}&euro;
                </div>
                <div class="row add_to_cart">
                    <a class="btn btn-primary btn-sm" href="{{ path('add_item_to_cart', {'productId': variant.id }) }}">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Ajouter au panier</a>
                </div>
                <div class="row mediashare">
                    <a href="#" title="Show your love on Facebook">
                    <img src="{{ asset('assets/icons/facebook.png') | imagine_filter('social_share_button')}}" alt="Show your love on Facebook"/>
                    </a>
                    <a href="#" title="Show your love on Twitter">
                        <img src="{{ asset('assets/icons/twitter.png') | imagine_filter('social_share_button')}}" alt="Show your love on Twitter"/>
                    </a>
                    <a href="#" title="Pin it on Pinterest !">
                        <img src="{{ asset('assets/icons/pinterest.png') | imagine_filter('social_share_button')}}" alt="Pin it on Pinterest !"/>
                    </a>
                </div>
            </div>
        </div>


{% endblock body %}