{% if items > 1 %}
    {% set word = 'Produits' %}
{% elseif items == 1 %}
    {% set word = 'Produit' %}
{% else %}
    {% set word = 'Vide' %}
{% endif %}

<div class="hidden-xs">
    <h4><a href="{{ path('front_cart') }}"><img src="{{ asset('assets/icons/shopping-cart32.png') }}" alt="cart icon"/> Panier</a></h4>
    <p><span class="badge">{{ cart.itemsTotal }}</span> {{ word }}</p>
</div>
<div class="visible-xs">
    <a href="{{ path('front_cart') }}" class="btn btn-primary"><span class="cart-item">
            <img src="{{ asset('assets/icons/shopping-cart32.png') }}" alt="cart icon"/>({{ cart.itemsTotal }})</span> <i class="fa fa-shopping-cart"></i></a>
</div>