{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% trans_default_domain 'Interface' %}

{% block title %} {{ 'cart.your_cart'|trans|capitalize }} | {{ parent() }} {% endblock %}

{% block content %}
    <div class="row demo">

    <h2>{{ 'panier'|trans|capitalize }}</h2>

    {% if cart.items is empty %}
        <h4>Votre panier est vide</h4>
    {% else %}
        <div class="row">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>{{ 'image'|trans|capitalize }}</th>
                <th>{{ 'produit'|trans|capitalize }}</th>
                <th>{{ 'quantity'|trans|capitalize }}</th>
                <th>{{ 'cart.price_by_unit'|trans|capitalize }}</th>
                <th>{{ 'total'|trans|capitalize }}</th>
                <th></th>
            </tr>
            {% for item in cart.items %}
                <!--
            {{ render(controller('StoreFrontBundle:Default:showCartLineItem', {'itemId': item.product.id, 'quantity': item.quantity })) }}
            -->
                <tr>
                    {% if item.product.images is empty %}
                    {% if item.product.product.path is empty %}
                        <td><img data-src="holder.js/32x32/text:no image" alt="no image" /></td>
                    {% else %}
                        <td><img src="{{ asset('uploads/documents/' ~ item.product.product.path) | imagine_filter('cart_list_thumb')}}" class=""/></td>
                    {% endif %}
                    {% else %}
                    {% for img in item.product.images %}
                        {% if loop.index == 1 %}
                            <td><img src="{{ asset('uploads/product_images/' ~ img.path) | imagine_filter('cart_list_thumb')}}" class=""/></td>
                        {% endif %}
                    {% endfor %}
                    {% endif %}</td>
                    <td>{{ item.product.product.name }}</td>
                    <td><a class="btn btn-warning btn-xs" href="{{ path('decrement_item', {'item': item.id }) }}">-</a>&nbsp; &nbsp;
                        {{ item.quantity }}
                        &nbsp; &nbsp; <a class="btn btn-success btn-xs" href="{{ path('increment_item', {'item':item.id }) }}">+</a></td>
                    <td>{{ item.product.price }}&euro;</td>
                    <td>{{ item.product.price * item.quantity }}&euro;</td>
                    <td>
                        <a href="{{ path('remove_cart_item', {'itemId': item.id }) }}">
                            <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}



            <tr>
                <td colspan="3"></td>
                <td class="total_line_item">Total :</td>
                <td>{{ total }}&euro;</td>
            </tr>

            {% if promotion is not empty %}
                <tr><td colspan="4"><span style="color:red;">{{ promotion.detail.title }} : -{{ promotion.detail.discount }}%</span></td>
                    <td><span style="color:red;">-{{ promotion.discount_amount }}&euro;</span></td>
                </tr>



                <tr>
                    <td colspan="3"></td>
                    <td class="total_line_item">{{ 'new_total'|trans|capitalize }} :</td>
                    <td>{{ promotion.new_total }}&euro;</td>
                </tr>

            {% endif %}

            <tr><td colspan="4">{{ 'cart.estim_shipping'|trans|capitalize }} <span style="color:red;">*</span></td><td>5.95€</td></tr>
            {% set shipping = 5.95 %}

            {% if promotion is not empty %}
                {% set bigtotal = promotion.new_total + shipping %}
            {% else %}
                {% set bigtotal = total + shipping %}
            {% endif %}

            <tr><td class="total_line_item" colspan="4">{{ 'total'|trans|capitalize }} ({{ 'cart.incl_shipping'|trans }}):</td><td>{{ bigtotal }}€</td> </tr>

            <tr>
                <td colspan="4"></td>
                <td>
                    <a href="{{ path('checkout_account') }}" class="btn btn-success">{{ 'cart.order'|trans|capitalize }}</a>
                    <a href="{{ path('reset_cart') }}" class="btn btn-warning">{{ 'cart.reset'|trans|capitalize }}</a>
                </td>
            </tr>

        </table>
        </div>
        <div class="row">
            <p><span style="color:red;">*</span> {{ 'cart.shipping_note'|trans|capitalize }}</p>
        </div>
    {% endif %}
</div>
{% endblock content %}