{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% set titlevariant = '' %}
{% if variant.values is not empty %}
    {% set titlevariant = ' | ' %}
{% endif %}
{% for option in variant.values %}
    {% set titlevariant = titlevariant ~ option.name %}
{% endfor %}


{% block title %} {{ product.name }} {{ titlevariant }} | {{ parent() }} {% endblock %}

{% block meta_description %}
{% if product.description is not empty %}{{ product.name }}{{ titlevariant }}
{{ product.description }}
acheter {{ product.name }}
discount {{ product.name }}
{{ product.name }} pas cher
maquillage cosmétique discount
{% else %}
{{ product.name }}{{ titlevariant }}, MakeUpCosmetics.eu spécialiste du maquillage discount.
acheter {{ product.name }}
discount {{ product.name }}
{{ product.name }} pas cher
maquillage discount pas cher cosmétique discount pas cher acheter maquillage discount acheter maquillage pas cher acheter cosmétique discount acheter cosmétique pas cher
{% endif %}
{% endblock %}

{% block content %}
    {#
    <ol class="breadcrumb">
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">Teint</a></li>
        <li class="active">Fonds de teint</li>
    </ol>
    #}
<h4 class="ps_title" xmlns="http://www.w3.org/1999/html">
    <a href="#"><span itemprop="name">{{ product.name|upper }} {{ titlevariant|upper }}</span><span>.</span></a>
</h4>

    <div class="row">
        <div class="col-md-5 col-xs-12 ps_img">
                <div>
                    {% if variant.images is not empty %}
                        {% for image in variant.images %}
                            {% if loop.index <= 1 %}
                                <a href="{{ asset('uploads/product_images/' ~ image.path) }}" class="fancybox" title="{{ product.name }}">
                                <img itemprop="image" class="img-responsive" src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_show_bigimg')}}" />
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="{{ asset('uploads/documents/' ~ product.path) }}" class="fancybox" title="{{ product.name }}">
                            <img itemprop="image" class="img-responsive" src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('product_show_bigimg')}}" />
                        </a>

                    {% endif %}
                </div>

                <div>
                    <ul class="list-inline">
                    {% for image in variant.images %}
                        <li class="ps_mini_img">
                            <a class="fancybox" rel="variant-{{ variant.id }}" href="{{ asset('uploads/product_images/' ~ image.path) }}">
                                <img class="img-responsive" src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_list_thumb')}}" />
                            </a>
                        </li>

                    {% endfor %}
                        </ul>
                </div>



            </div>

        <div class="col-md-3 col-xs-12">
            <div class="ps_man_store">
                <p>
                <strong>Catégorie : </strong><span itemprop="category" content="{{ product.categories[0].title }}">{{ product.categories[0].title }}</span><br/>
                <strong>Disponibilité :
                    {% if variant.outOfStock is empty %}
                        <span class="glyphicon glyphicon-ok" style="color:green;"></span> En stock<br>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle" style="color:red;"></span> Rupture<br>
                    {% endif %}

                <!--<strong>EAN : </strong>12345678-->
                </p>
            </div>

            {#

            <div class="ps_options">
                {% for option in product.options %}
                    <label for="form_option_{{ option.name|lower }}">{{ option.name }} :</label><br/>
                    <select class="form-control">
                        <option>
                            xx
                        </option>
                    </select>
                {% endfor %}
            </div>
            #}


                {% if product.variants.count > 1 %}

            <h4>Variantes</h4>

            <div>

                <select class="form-control" id="product_option_select" current-page="{{ path('product_front_show', {'id': variant.id, 'slug': product.slug }) }}">
                {% for variante in product.variants %}






                        {% for options in variante.values %}
                            {% if options.option.isImageOption %}
                                {% if variante.id == variant.id %}
                                    {% set select = 'selected="selected"' %}
                                {% else %}
                                    {% set select = '' %}
                                {% endif %}
                                <option value="{{ variante.id }}" {{ select }} rel="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}"
                                        data-imagesrc="{{ asset('/uploads/documents/vignettes/' ~ options.path ) }}"
                                        data-description="{{ options.name }}">{{ options.name }}</option>
                            {% else %}
                                <option><a href="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}" title="{{ options.name }}">
                                        {{ options.option.name }} : {{ options.name }}
                                    </a></option>
                            {% endif %}
                        {% endfor %}

                {% endfor %}
                </select>
            </div>
                    {% endif %}



            <div class="ps_price">
                <h4>Prix :</h4>
                <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                    <meta itemprop="currency" content="EUR" />
                <p><span itemprop="price">
                        {% if variant.isPromo is not empty %}<span class="price-striped">{{ variant.promoPrice }}&euro;</span>
                        <span class="price-promo">{{ variant.price }}&euro;</span>
                        {% else %}
                        {{ variant.price }}</span>&euro;
                        {% endif %}</p>
            </div>



            <div class="ps_add_to_cart">
                <form role="form" action="{{ path('add_item_to_cart', {'productId': variant.id }) }}" method="POST">
                    <label for="form_quantity">Quantité:</label><br/>
                    <input class="form-control" id="form_quantity" name="form_quantity" type="number" value="1"/>
                    <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-shopping-cart">Acheter</span></button>
                </form>

            </div>

            <script type="text/javascript">
                document.write('<div class="fb-like ps_fb" data-href=" '+ pathname + ' " data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>');
            </script>

    </div>
    </div>

    <div class="row ps_details">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Déscription</a></li>
            <li><a href="#">Conseils d'utilisation</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>
    <div class="row ps_description">
        <p><span itemprop="description">{{ product.description|nl2br }}</span></p>
    </div>

{#
    <div class="row">
        <div class="col-md-12 product_show_title">
            <h3>{{ product.name }}</h3>
            <p class="product_show_category">
                {% for cat in product.categories %}
                    {% if loop.index <= 1 %}
                    Categorie : | <span class="prod_cat_title">{{ cat.title }}</span> |
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row product_show_2row">
        <div class="col-md-4">
            <div class="row">
            {% if variant.images is not empty %}
            {% for image in variant.images %}
                {% if loop.index <= 1 %}
            <img src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_show_bigimg')}}" />
                    {% endif %}
                {% endfor %}
            {% else %}
                <img src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('product_show_bigimg')}}" />
            {% endif %}
                </div>
            <div class="row">
                <ul class="list-inline">
                {% for variante in product.variants %}

                    {% if variante.id != variant.id %}


                            {% for options in variante.values %}
                                {% if options.option.isImageOption %}
                                    <li><a href="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}" title="{{ options.name }}">
                                        <img src="{{ asset('/uploads/documents/vignettes/' ~ options.path ) }}" alt="{{ options.name }}" />
                                    </a></li>
                                {% else %}
                                    <li><a href="{{ path('product_front_show', {'id': variante.id, 'slug': product.slug }) }}" title="{{ options.name }}">
                                        {{ options.option.name }} : {{ options.name }}
                                    </a></li>
                                {% endif %}
                            {% endfor %}

                    {% endif %}
                {% endfor %}
                    </ul>
            </div>
        </div>

        <div>
            {% for image in variant.images %}
                <a class="fancybox" rel="variant-{{ variant.id }}" href="{{ asset('uploads/product_images/' ~ image.path) }}">
                    <img src="{{ asset('uploads/product_images/' ~ image.path) | imagine_filter('product_list_thumb')}}" />
                </a>
            {% endfor %}
        </div>

        <div class="col-md-5">
            <h4>Déscription</h4>
            {{ product.description | nl2br }}

            <div>





                </div>
            </div>

            <div class="col-md-3">
                <div class="row pricehead">
                    PRIX
                </div>
                <div class="row priceamount">
                    {{ variant.price }}&euro;
                </div>
                <div class="row add_to_cart">
                    <a class="btn btn-primary btn-sm" href="{{ path('add_item_to_cart', {'productId': variant.id }) }}">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Ajouter au panier</a>
                    <div class="row">
                        <form role="form" class="form-inline" action="{{ path('add_item_to_cart', {'productId': variant.id }) }}" method="POST">
                            <label for="form_quantity">Quantité :</label>
                            <input type="number" name="form_quantity" id="form_quantity" class="form-control" step="1" value="1"/>

                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart">acheter</span></button>

                    </div>



                    </form>
                </div>
                <div class="row mediashare">
                    <a href="#" title="Show your love on Facebook">
                    <img src="{{ asset('assets/icons/facebook.png') | imagine_filter('social_share_button')}}" alt="Show your love on Facebook"/>
                    </a>
                    <a href="#" title="Show your love on Twitter">
                        <img src="{{ asset('assets/icons/twitter.png') | imagine_filter('social_share_button')}}" alt="Show your love on Twitter"/>
                    </a>
                    <a href="#" title="Pin it on Pinterest !">
                        <img src="{{ asset('assets/icons/pinterest.png') | imagine_filter('social_share_button')}}" alt="Pin it on Pinterest !"/>
                    </a>
                </div>
            </div>
        </div>

#}
{% endblock content %}

{% block custom_js %}
<script type="text/javascript">
    $(document).ready(function(){
        var current = $('#product_option_select').attr('current-page');
        $('#product_option_select').ddslick({

            onSelected: function(selectedData){
                var index = selectedData.selectedIndex;
                var relLink = selectedData.original.context[index].getAttribute('rel');
                if (relLink != current) {
                    window.location = relLink;
                }


            }
        });
        $("#product_option_select").change(function(e){
            var variant_path = $('option:selected', this).attr('rel');
            window.location = variant_path;
        });
    });
</script>
{% endblock %}