{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% trans_default_domain 'Interface' %}

{% block title %}{{ 'order.confirm_title'|trans|capitalize }} | {{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ 'order.thanks_for_your_order'|trans|capitalize }}</h1>
            <h4>{{ 'order.check_before_pay'|trans|capitalize }}</h4>
        </div>

    </div>
    <hr/>

    <div class="recap_order">

    <div class="row">
        <div class="col-md-6">
            <h4>{{ 'checkout.billing_infos'|trans|capitalize }}</h4>
            <table class="table">
                <tr>
                    <td>
                        <address>
                            <strong>{{ cart.billingAddress.firstName }} {{ cart.billingAddress.lastName }}</strong><br/>
                            {{ cart.billingAddress.line1 }}<br/>
                            {{ cart.billingAddress.line2 }} {% if cart.billingAddress.line2 is not empty %}<br/>{% endif %}
                            {{ cart.billingAddress.zipCode }} {{ cart.billingAddress.state }}<br/>
                            {{ countries[cart.billingAddress.country] }}
                        </address>

                    </td>
                </tr>
            </table>
        </div>






        <div class="col-md-6">
            <h4>{{ 'checkout.shipping_infos'|trans|capitalize }}</h4>
            <table class="table">
                <tr>
                    <td>
                        <address>
                            <strong>{{ cart.shippingAddress.firstName }} {{ cart.shippingAddress.lastName }}</strong><br/>
                            {{ cart.shippingAddress.line1 }}<br/>
                            {{ cart.shippingAddress.line2 }} {% if cart.billingAddress.line2 is not empty %}<br/>{% endif %}
                            {{ cart.shippingAddress.zipCode }} {{ cart.billingAddress.state }}<br/>
                            {{ countries[cart.shippingAddress.country] }}
                        </address>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>{{ 'order.overview'|trans|capitalize }}</h4>
            <table class="table">
                <th>{{ 'produit'|trans|capitalize }}</th>
                <th>{{ 'quantity'|trans|capitalize }}</th>
                <th>{{ 'cart.price_by_unit'|trans|capitalize }}</th>
                <th>{{ 'total'|trans|capitalize }}</th>
                {% for item in cart.items %}
                    <tr>
                        <td>
                            {{ item.product.product.name }}
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            {{ item.product.price }}&euro;
                        </td>
                        <td>
                            {{ item.quantity * item.product.price }}&euro;
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2"></td>
                    <td class="total_line_item">{{ 'total'|trans|capitalize }} :</td>
                    <td>{{ total }}&euro;</td>
                </tr>

                {% if promotion is not empty %}
                    <tr><td colspan="3"><span style="color:red;">{{ promotion.detail.title }} : -{{ promotion.detail.discount }}%</span></td>
                        <td><span style="color:red;">-{{ promotion.discount_amount }}&euro;</span></td>
                    </tr>



                    <tr>
                        <td colspan="2"></td>
                        <td class="total_line_item">{{ 'total'|trans|capitalize }} :</td>
                        <td>{{ promotion.new_total }}&euro;</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td colspan="3">
                            {{ 'order.shipping_to'|trans|capitalize }} <strong>{{ countries[cart.shippingAddress.country] }}</strong> : {{ cart.shippingMethod.title }}
                        </td>
                        <td>
                            {{ cart.shippingMethod.price }}&euro;
                        </td>
                    </tr>
                    {% if promotion is not empty %}
                        {% set bigtotal = promotion.new_total + cart.shippingMethod.price %}
                    {% else %}
                        {% set bigtotal = total + cart.shippingMethod.price %}
                    {% endif %}
                    <tr>
                        <td colspan="3" class="total_line_item"><span style="color:red;">{{ 'total'|trans|capitalize }} :</span></td>
                        <td><span style="color:red;">{{ bigtotal }}&euro;</span></td>
                    </tr>


            </table>
        </div>


    </div>
    </div>

    <div class="row" style="padding:15px;">
        {% include('StoreFrontBundle:Checkout:ogoneForm.html.twig') with {'ogone': ogone} %}
        <button type="submit" class="btn btn-warning">{{ 'order.validate_and_proceed'|trans|capitalize }}</button>
    </div>

{% endblock %}