<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Spécialiste du maquillage discount, je vous propose des produits de cosmétiques à partir de 1,5 euro. Découvrez ainsi nos produits de maquillage pas cher pour le visage tels que les poudres de soleil, les poudres compactes, fard à joues et autres correcteurs anticernes,
    mais aussi du maquillage pour les yeux avec notre gamme de mascaras : Mascara classique, mascara volume 3 en 1, recourbe cils.
    Retrouvez aussi notre eyeliner, nos palettes d'ombre à paupières et nos crayons à yeux. Pour parfaire votre maquillage des lèvres, optez pour nos divers rouges à lèvres, crayons à lèvres ou brillants à lévres. Consultez également nos différents pinceaux de maquillage : pinceau pour poudre, applicateur de fond de teint, pinceau pour lèvres,...{% endblock %}">
    <meta name="author" content="Claude Haest">
    <meta name="robots" content="index,follow">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{% block title %}MakeUpCosmetics.eu spécialiste du maquillage discount{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51251291-1', 'makeup-cosmetics.eu');
        ga('send', 'pageview');

    </script>


</head>

<body>


{% include "::navbar.html.twig" %}

<div class="row">
    <div class="container">
        <div class="col-md-3 col-xs-12">
            <h1><a href="{{ path('homeweb') }}" title="Accueil | MakeUp Cosmetics for Professionals"><img src="/logo3muc.png" alt="logo MakeUpCosmetics"/></a></h1>

        </div>



        <div class="col-md-9">

            <div class="account">
                <ul>
                    {{ include('StoreFrontBundle:UserAccount:miniAccount.html.twig') }}
                    <li>
                        {{ render(controller('StoreFrontBundle:Default:showFrontCart')) }}
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>



<div class="container">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>


    {% block body %}

    {% endblock body %}

<div class="row" id="footer">
<div class="container">


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><a href="{{ path('page_cgv') }}" title="Conditions Générales de Vente">Conditions générales</a></li>
                <li>Brands</li>
                <li>Shipping</li>
            </ul>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 payment_methods">
            <ul class="list-inline">
                <li><img src="{{ asset('assets/payment-method_icons/maestro.png') }}" alt="Maestro"/></a></li>
                <li><img src="{{ asset('assets/payment-method_icons/Visa.png') }}" alt="Like us on Facebook"/></a></li>
                <li><img src="{{ asset('assets/payment-method_icons/MasterCard.png') }}" alt="Like us on Facebook"/></a></li>
                <li><img src="{{ asset('assets/payment-method_icons/PayPal.png') }}" alt="Like us on Facebook"/></a></li>
            </ul>
            <h5>&copy; Claude Haest BVBA/SPRL</h5>
            <p>
                Spécialiste du maquillage discount, je vous propose des produits de cosmétiques à partir de 1 euro. Découvrez ainsi nos produits de maquillage pas cher pour le visage tels que les poudres de soleil, les poudres compactes, fard à joues et autres correcteurs anticerne, mais aussi du maquillage pour les yeux avec notre gamme de mascaras : Mascara classique, mascara volume 3 en 1, recourbe cils. Retrouvez aussi notre eyeliner, nos palettes d'ombre à paupières et nos crayons a yeux. Pour parfaire votre maquillage des lèvres, optez pour nos divers rouges à lèvres, crayons à lèvres ou brillants à lévres. Consultez également nos différents pinceaux de maquillage : pinceau pour poudre, applicateur de fond de teint, pinceau pour lèvres,...
            </p>
        </div>
        <div class="col-md-12 col-xs-12">

        </div>
    </div>

</div>
</div>

<script type="text/javascript" src="/assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/js/holder.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript" src="/assets/js/custom/ddslick.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
{% block custom_js %} {% endblock %}

</body>
</html>
