<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow">

    <title>{% block title %}MakeUpCosmetics.eu{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet">


</head>

<body>


{% include "::navbar.html.twig" %}

<div class="row">
    <div class="container">
        <div class="col-md-3 col-xs-12">
            <h1><a href="{{ path('homeweb') }}" title="Accueil | MakeUp Cosmetics Professional">M.C.P.</a></h1>
            <h6>MakeUp Cosmetics Professional</h6>
        </div>



        <div class="col-md-9">

            <div class="account">
                <ul>
                    <li id="your-account">
                        <div class="hidden-xs">
                            <h4><a href="#"><img src="{{ asset('assets/icons/customer32.png') }}"/> Mon compte</a></h4>
                            <p>(Invité) <a href="login.html">Connexion</a></p>
                        </div>
                        <div class="visible-xs">
                            <a href="login.html" class="btn btn-primary"><i class="fa fa-user"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="hidden-xs">
                            <h4><a href="{{ path('front_cart') }}"><img src="{{ asset('assets/icons/shopping-cart32.png') }}" alt="cart icon"/> Panier</a></h4>
                            <p><span class="badge">1</span> Produits</p>
                        </div>
                        <div class="visible-xs">
                            <a href="cart.html" class="btn btn-primary"><span class="cart-item">3</span> <i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>



<div class="container">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>


    {% block body %}

    {% endblock body %}



<script type="text/javascript" src="/assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/js/holder.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
{% block custom_js %} {% endblock %}

</body>
</html>
