
    <h1>Derniers paniers</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>N° Commande</th>
                <th>DateTime</th>
                <th>User</th>
                <th>Nombre de Produits</th>
                <th>Etat Commande</th>
                <th>Statut</th>
                <th>Processus</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.items.count > 0 %}
            <tr>
                <td><a href="{{ path('cart_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.orderId }}</td>
                <td>
                    {{ entity.CartDtg |date('d-m-Y H:i:s') }}
                </td>
                <td>
                    {% if entity.customer is not empty %}
                        {{ entity.customer.username }}
                    {% else %}
                        anonymous
                    {% endif %}
                </td>
                <td>{{ entity.itemsTotal }}</td>
                <td>{{ entity.orderProcessStatus|lower|trans|default('PANIER') }}</td>
                <td>
                    {% if (entity.state is empty or entity.state == 'CART') %}
                        <span class="label label-default">Panier</span>
                    {% else %}
                        <span class="label label-success">{{ entity.state }}</span>
                    {% endif %}
                </td>
                <td>{{ entity.processStatus }}</td>
                <td>
                    <form action="{{ path('cart_change_order_process_status', {'id': entity.id}) }}" method="POST">
                        <select name="process_status">
                            <option value="RECEIVED">RECEIVED</option>
                            <option value="READY">READY</option>
                        </select>
                        <input type="submit" value="envoyer"/>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
