
    <h1>Derniers paniers</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateTime</th>
                <th>User</th>
                <th>Nombre de Produits</th>
                <th>Statut</th>
                <th>Processus</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.items.count > 0 %}
            <tr>
                <td><a href="{{ path('cart_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.CartDtg |date('d-m-Y H:i:s') }}
                </td>
                <td>
                    {% if entity.customer is not empty %}
                        {{ entity.customer.username }}
                    {% else %}
                        anonymous
                    {% endif %}
                </td>
                <td>{{ entity.itemsTotal }}</td>
                <td>
                    {% if (entity.state is empty or entity.state == 'CART') %}
                        <span class="label label-default">Panier</span>
                    {% endif %}
                </td>
                <td>
                    {% if (entity.processStatus is empty) %}
                        <span class="label label-default">CART</span>
                    {% else %}
                        <span class="label label-info">{{ entity.processStatus }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
