{% extends '::base.html.twig' %}

{% block body -%}

    <h2>Panier #{{ entity.id }}</h2>
    <hr/>

    <h4>Statut : <span class="label label-primary">{{ entity.processStatus }}</span></h4>

    {% set total = 0 %}

    <table class="table table-bordered">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
        </tr>
        {% for item in entity.items %}
            <tr>
                <td>{{ item.product.product.name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>

            {% set total = total + item.product.price %}
        {% endfor %}


        <tr><td colspan="2"><strong>Montant hors promotions et livraison: <span class="label label-primary">{{ total }}&euro;</span></strong></td></tr>
    </table>
{% endblock %}
