{% extends '::base.html.twig' %}

{#
{% form_theme form 'StoreProductBundle:Form:fields.html.twig' %}
#}

{% block body -%}
    <h1>Création d'un nouveau produit</h1>
    <hr>

    <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }} role="form">

        {{ form_errors(form) }}

        <fieldset>
            <legend>Général</legend>
        <div class="form-group">
            {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'class': 'form-control' }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description, null, { 'label_attr': { 'class': ''} }) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows' : 3 }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.available, null, {'label_attr': {'class': ''}}) }}
            {{ form_widget(form.available) }}
        </div>

        <div class="form-group">
            {{ form_label(form.sku) }}
            {{ form_widget(form.sku, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.file) }}
            {{ form_widget(form.file, {'attr': {'class': 'form-control' }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.meta_description) }}
            {{ form_widget(form.meta_description, {'attr': {'class': 'form-control' }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.meta_keywords) }}
            {{ form_widget(form.meta_keywords, {'attr': {'class': 'form-control',
                'placeholder': 'Mots clefs pour les moteurs de recherche séparés par une virgule (ex: maquillage, stick, lèvres, rouge à lèvres, ...)'}}) }}
        </div>
            </fieldset>

        {#
        <fieldset>
            <legend>Catégories</legend>
        <div class="form-group">
            {% for cat in form.categories %}
                <div class="checkbox">
                <label>
                    <input type="checkbox" id="{{ cat.vars.id }} name="store_productbundle_producttype[categories][]" value="{{cat.vars.value}}">{{ render(controller('StoreProductBundle:Category:showForProduct', {'id': cat.vars.name })) }}
                </label>
                </div>
            {% endfor %}
        </div>
            </fieldset>

        <fieldset>
            <legend>Options</legend>
            <div class="form-group">
                {% for opt in form.options %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="{{opt.vars.value}}">{{ opt.vars.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        #}
        <div class='form-group'>
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr' : { 'class': 'form-control'}}) }}
        </div>


        <div class="form-group">
            {{ form_widget(form.categories) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.options) }}
        </div>


        {{ form_rest(form) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Soumettre</button>
            <a class="btn btn-danger" href="{{ path('product') }}">Annuler</a>
        </div>
    </form>

{% endblock %}
