<div class="col-md-3 col-lg-3 col-xs-12 product_mini_fiche">

    <div class="mini_fiche_holder">
{% if new is defined and new == true %}
    <div class="tagholder">
    <div>
    <strong>#new</strong>
    </div>
</div>
{% endif %}

        <div class="mini_fiche_holder_name">
            <a href="{{ path('product_front_show', {'id': product.masterVariant.id, 'slug': product.masterVariant.vslug}) }}"
                    title="{{ product.name }}">{{ product.name }}</a>
        </div>

    <div class="mini_fiche_holder_img">
        <a href="{{ path('product_front_show', {'id': product.masterVariant.id, 'slug': product.masterVariant.vslug }) }}">
            <img class="img-responsive" src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('frontlist_thumb_new')}}"
                    alt="{{ product.name }}"/>
        </a>
    </div>


    <div class="mini_fiche_holder_price">
    
        <p>
            {% if product.masterVariant.isPromo is not empty %}
                <span class="price-striped">{{ product.masterVariant.promoPrice }}&euro;</span>&nbsp;&nbsp;
            <span class="price-promo">{{ product.masterVariant.price }}&euro;</span>
            {% else %}
            {{ product.masterVariant.price }}&euro;
            {% endif %}
        </p>
    </div>

        </div>

</div>

