{% trans_default_domain 'Interface' %}

<li id="your-account">
    <div class="hidden-xs">
        <h4><a href="{{ path('myaccount_home') }}"><img src="{{ asset('assets/icons/customer32.png') }}"/> {{ 'mon_compte'|trans }}</a></h4>
        <p>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == true %}
            {{ 'connexion.welcome'|trans|capitalize }}, {{ app.user }}.
            {% else %}
            <a href="{{ path('fos_user_security_login') }}" title="{{ 'connexion.login'|trans }}">{{ 'connexion.login'|trans|capitalize }}</a>
            |
            <a href="{{ path('fos_user_registration_register') }}" title="{{ 'connexion.register'|trans }}">{{ 'connexion.register'|trans|capitalize }}</a>
            </p>
            {% endif %}
    </div>
    <div class="visible-xs">
        <a href="login.html" class="btn btn-primary"><i class="fa fa-user"></i></a>
    </div>
</li>